/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-popup{
width: 20rem;
}

/* Barra de Navegacion */
/* .cursor-pointer{
  cursor: pointer;
} */

.img-responsive{
  position: absolute;
  left: 7px;
}
body{
  margin-top: 4rem;
  height: calc(100vh - 65px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

ul {
  list-style: none;

}
a {
  text-decoration: none;
  color: unset;
}

/* a:hover {
  color: white;
} */
img {
  height: 1rem;
  width: 2rem;
}

.page-header li:hover {
  border-bottom: 3px solid  #a47c16 ;
  transform: translateY(5px);
  color: var(--blue);
}
.page-header h2:hover {
  transform: scale(1.03);
  background-color: var(--blue);
  color: white;
}

.responsive{
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 10rem 0 7rem;
  position: fixed;
  width: 100%;
  z-index: 30;
}

.nave {
	width: 100%;
	max-width:1000px;
  top: 0;
  background-color: rgb(34, 30, 29);
  position: fixed;
  z-index: 20;
  height: 100%;
}

.page {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.page-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 10rem 0 7rem;
}

.page-header ul {
  display: flex;
  flex-direction: row;
}
.page-header li {
  margin-left: 30px;
  position: relative;
  font-size: 20px;
  transition: 0.3s;
  border-bottom: 1px solid  #0c9f46 ;
}
.page-header h2 {
  text-transform: capitalize;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.329);
  border-radius: 3px;
  padding: 5px 15px;
  transition: 0.3s;
}

@media (min-width: 680px){
  .responsive{
    display: none;
  }
}


.img-logo{
  width: 17%;
  height: 71%;
}

@media (min-width: 1157px){
  .img-logo{
    width: 12%;
    height: 71%;
  }
}



/* Barra de Navegacion */





/* .leaflet-popup-content-wrapper {
  width: 100%;
  height: 30%;
} */

/* .leaflet-popup-content-wrapper .leaflet-popup-content {

  width: 100%;
  height: 20rem;
} */
/* 
.leaflet-popup-tip-container {
} */

/* body{
  background-image: linear-gradient(355deg, #caff52 0, #aefe5b 12.5%, #91f663 25%, #71ec6a 37.5%, #4de070 50%, #14d475 62.5%, #00c87b 75%, #00bf80 87.5%, #00b686 100%);
} */
.login-box{
  position:relative;
  margin: 10px auto;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 10px 10px 10px 10px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:50px;
}
.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active{
  color: #029f5b;
  font-size: 18px;
}
.social-login{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}
.social-login a{
  position:relative;
  float: left;
  width:calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}
.social-login a:first-child{
  background-color: #49639F;
}
.social-login a:last-child{
  background-color: #DF4A32;
}
.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 3rem;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group input[type="text"],
.u-form-group input[type="password"]{
  width: calc(70% - 22px);
  height:45px;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
.u-form-group input:focus{
  border-color: #358efb;
}
.u-form-group button{
  width:60%;
  background-color: #1CB94E;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}

.backgroundColor{
  background-image: linear-gradient(355deg, #caff52 0, #aefe5b 12.5%, #91f663 25%, #71ec6a 37.5%, #4de070 50%, #14d475 62.5%, #00c87b 75%, #00bf80 87.5%, #00b686 100%);
}